@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Indie+Flower&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Indie+Flower&family=Open+Sans:wght@600&display=swap');


h1{
    color: turquoise;
    font-family: 'Coming Soon', cursive;
    font-size: 35px;
}

h2{
    color:#ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}

h3{
    color:palevioletred;
    font-family: 'Coming Soon', cursive;
    font-size: 30px;
    
}

h4{
    color:rgb(0, 51, 204);
    font-family: 'Coming Soon', cursive;
    font-size: 25px;

}

p{
    color:#fde5e5;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.header-container{
    border: 3px solid black;
    text-align: center;
    position: absolute;
    top: 50px;
    display: block;
    width: 100%;
    background-color: rgba(184, 182, 182, 0.349);
}
   

.cards-container{
    margin: 50px;
}

.testemonial-container{
    background-color:rgb(255, 214, 126);
    height: 200px;
    width: 100%;

}

.price-container{
    margin: 50px;

}

.btn-primary{
    background-color:rgba(255, 179, 204, 0.788);
    color: #0c0606;
    text-decoration: none;
    width: px;
    height: 50px;
    display: inline-block;
    border-radius: 70px;
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    border: 2px solid black;

}

.btn-lg{
    background-color:rgba(255, 179, 204, 0.788);
    color: #0c0606;
    text-decoration: none;
    width: 250px;
    height: 50px;
    display: inline-block;
    border-radius: 70px;
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    border: 2px solid black;

}   
    
#header-btn{
    background-color:rgb(255, 144, 181);
    color: #0c0606;
    text-decoration: none;
    width: 200px;
    height: 50px;
    display: inline-block;
    border-radius: 70px;
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    border: 2px solid black;
    
}

#adress{
    text-decoration: underline ;

}

#limitação{
    font-size: 12px;
    text-decoration: underline;

}

#card-60{
    font-size: 15px;
}

.card-text{
    text-align: justify;
    color:black;

}

.card-title{
    text-align: center;
   
}

#first-slide{
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.table-contaiiner{
    text-align: center;
    position: absolute;
    top: 250px;
    display: block;
    width: 100%;
    background-color: rgba(216, 191, 216, 0.534);
}

#cores{
    color: whitesmoke;

}